<div class="page-header">
  {{>navbaradmin}}
  <style>
      body: {
   color: white;
  }
  td: {
  color: black;
  }
  </style>
<h3>EDIT USERS</h3>

{{#each user}}
<form class="form-horizontal"  method = "post" action ="/updateuser">
<input name="customer_id" type="hidden" value="{{this.customer_id}}"/>
<div class="form-group">

    <label class="control-label" for="firstname">First Name:</label>
    <input name="fname" required="true" class="form-control" id="fname" value="{{this.fname}}"/>
</div>

<div class="form-group">

    <label class="control-label" for="lastname">Last Name:</label>
    <input name="lname" required="true" class="form-control" id="lname" value="{{this.lname}}"/>
</div>

<div class="form-group">

    <label class="control-label" for="address">Address:</label>
    <input name="addr" required="true" class="form-control" id="addr" value="{{this.addr}}"/>
</div>

<div class="form-group">

    <label class="control-label" for="email">Email:</label>
    <input name="email" required="true" class="form-control" type="email" id="email" value="{{this.email}}"/>
</div>

<div class="form-group">

    <label class="control-label" for="password">Password:</label>
    <input name="password" required="true" class="form-control" type="password" id="password" value="{{this.password}}"/>
</div>
<div class="form-group">

    <label class="control-label" for="ccnum">Credit Card Number:</label>
    <input name="ccnum" required="true" class="form-control" id="ccnum" value="{{this.ccnum}}"/>
</div>
<div class="form-group">
    <label class="control-label" for="expdate">Expiration Date:</label>
    <input name="expdate" required="true" class="form-control" id="expdate" value="{{this.expdate}}"/>
</div>
<div class="form-group">
    <label class="control-label" for="ccv">CCV Number:</label>
    <input name="ccv" required="true" class="form-control" id="ccv" value="{{this.ccv}}"/>
</div>
<input name="admin" type="hidden" value="0"/>

<button type="submit" class="btn btn-default"> Update Information </button>
</form>
{{/each}}

</div>
