<div class="page-header">
  {{>bsnavbar2}}
  <style>
    * {
 color: white;
}
</style>
<h3>About Us</h3>
<br><br>
<form name="form-search" method="post" action="/search">
  Search: <input name="search"  value=""/><br>
    <input type="radio" name="category" value="title" checked="checked"> Title<br>
  <input type="radio" name="category" value="description"> Description<br>
 <input type="radio" name="category" value="rating"> Rating<br>
  <button id="search-movies" type="submit"class="btn btn-default"> Search </button>
</form>


<form name="form-sort" method="post" action="/sort">
 <input type="radio" name="category" value="Action" checked="checked"> Action
 <input type="radio" name="category" value="Animation"> Animation
 <input type="radio" name="category" value="Classics"> Classics
 <input type="radio" name="category" value="Comedy"> Comedy
 <input type="radio" name="category" value="Documentaries"> Documentaries
 <input type="radio" name="category" value="Drama"> Drama
 <input type="radio" name="category" value="Family"> Family
 <input type="radio" name="category" value="Foreign"> Foreign
 <input type="radio" name="category" value="Horror"> Horror
 <input type="radio" name="category" value="Sports"> Sports<br>
 <button id="search-movies" type="submit"class="btn btn-default"> Sort </button>
</form>


{{#each movies}}
<table bgcolor="grey" cellpadding="10">

  <tr>
    <th bgcolor="black">Title</th>
    <th bgcolor="black">Description</th>
    <th bgcolor="black">Category</th>
    <th bgcolor="black">Rating</th>

    <th bgcolor="black">Rent</th>
    <th bgcolor="black">Add To Wish List</th>
  </tr>
  <tr>
    <td bgcolor="grey" width="15%">{{this.title}}</td>
    <td bgcolor="grey" width="70%">{{this.description}}</td>
    <td bgcolor="grey" width="70%">{{this.category}}</td>
    <td bgcolor="grey" width="15%">{{this.rating}}</td>
    <form method="post" action="/rent">
       <input name="film_id" type="hidden" value="{{this.film_id}}"/>
       <input name="title" type="hidden" value="{{this.title}}"/>
       <input name="description" type="hidden" value="{{this.description}}"/>
       <input name="release_year" type="hidden" value="{{this.release_year}}"/>
       <input name="language_id" type="hidden" value="{{this.language_id}}"/>
       <input name="rental_duration" type="hidden" value="{{this.rental_duration}}"/>
       <input name="rental_rate" type="hidden" value="{{this.rental_rate}}"/>
       <input name="length" type="hidden" value="{{this.length}}"/>
       <input name="replacement_cost" type="hidden" value="{{this.replacement_cost}}"/>
       <input name="rating" type="hidden" value="{{this.rating}}"/>
       <input name="special_features" type="hidden" value="{{this.special_features}}"/>
       <input name="last_update" type="hidden" value="{{this.last_update}}"/>
       <input name="category" type="hidden" value="{{this.category}}"/>
      <td bgcolor="grey" width="15%"><button id="rent"  type="submit"class="btn btn-default"> Rent </button></td>
    </form>
   
    <form method="post" action="/addtowishlist">
       <input name="film_id" type="hidden" value="{{this.film_id}}"/>
       <input name="title" type="hidden" value="{{this.title}}"/>
       <input name="description" type="hidden" value="{{this.description}}"/>
       <input name="release_year" type="hidden" value="{{this.release_year}}"/>
       <input name="language_id" type="hidden" value="{{this.language_id}}"/>
       <input name="rental_duration" type="hidden" value="{{this.rental_duration}}"/>
       <input name="rental_rate" type="hidden" value="{{this.rental_rate}}"/>
       <input name="length" type="hidden" value="{{this.length}}"/>
       <input name="replacement_cost" type="hidden" value="{{this.replacement_cost}}"/>
       <input name="rating" type="hidden" value="{{this.rating}}"/>
       <input name="special_features" type="hidden" value="{{this.special_features}}"/>
       <input name="last_update" type="hidden" value="{{this.last_update}}"/>
       <input name="category" type="hidden" value="{{this.category}}"/>
      <td bgcolor="grey" width="15%"><button   type="submit"class="btn btn-default"> Add To Wishlist </button></td>
    </form>
  </tr>
</table>
{{/each}}


</div>

