<div class="page-header">
  {{>navbaradmin}}
  <style>
    * {
 color: white;
}
</style>
<h3>Current Inventory Report</h3>
<br><br>

<table bgcolor="grey" cellpadding="10">
  <br><br>
  <strong>Total Inventory Price:</strong>
  <p id="price"> </p>
  <br><br>
  <tr>
    <th bgcolor="black" width="15%">Title</th>
    <th bgcolor="black" width="70%">Description</th>
    <th bgcolor="black" width="10%">Category</th>
    <th bgcolor="black" width="15%">Price</th>
    <th bgcolor="black" width="15%">Stock</th>

  </tr>
</table>

{{#each movies}}
<body onload="getPrice();"> </body>

<table bgcolor="grey" cellpadding="10">


  <tr>
    <td bgcolor="grey" width="15%">{{this.title}}</td>
    <td bgcolor="darkgrey" width="70%">{{this.description}}</td>
    <td bgcolor="grey" width="10%">{{this.category}}</td>
    <td bgcolor="darkgrey" width="15%">{{this.rental_rate}}</td>
    <td bgcolor="grey" width="15%">{{this.stock}}</td>
    <form>
       <input name="film_id" type="hidden" value="{{this.film_id}}"/>
       <input name="title" type="hidden" value="{{this.title}}"/>
       <input name="description" type="hidden" value="{{this.description}}"/>
       <input name="release_year" type="hidden" value="{{this.release_year}}"/>
       <input name="language_id" type="hidden" value="{{this.language_id}}"/>
       <input name="rental_duration" type="hidden" value="{{this.rental_duration}}"/>
       <input name="rental_rate" type="hidden" value="{{this.rental_rate}}"/>
       <input name="length" type="hidden" value="{{this.length}}"/>
       <input name="replacement_cost" type="hidden" value="{{this.replacement_cost}}"/>
       <input name="rating" type="hidden" value="{{this.rating}}"/>
       <input name="special_features" type="hidden" value="{{this.special_features}}"/>
       <input name="last_update" type="hidden" value="{{this.last_update}}"/>
       <input name="category" type="hidden" value="{{this.category}}"/>
    </form>
  </tr>
</table>
{{/each}}


</div>

<script>

	function getPrice(){
		var checkoutPrice = 0;
		{{#each movies}}

		checkoutPrice += {{this.rental_rate}} * {{this.stock}};
		document.getElementById("price").innerHTML = checkoutPrice.toFixed(2);
			{{/each}}
	}

</script>
