<div class="page-header">
  {{>bsnavbar2}}
  <style>
      body: {
   color: white;
  }
  td: {
color: black;
}
  </style>

<h3>Wish List</h3>
<br><br>

{{#each movies}}
<table bgcolor="grey" cellpadding="10">

  <tr>
    <th bgcolor="black">Title</th>
    <th bgcolor="black">Description</th>
    <th bgcolor="black">Price</th>
  </tr>
  <tr>
    <td bgcolor="grey" width="15%">{{this.title}}</td>
    <td bgcolor="grey" width="70%">{{this.description}}</td>
    <td bgcolor="grey" width="15%">{{this.rental_rate}}</td>
    <form method="post" action="/rent">
      <input name="film_id" type="hidden" value="{{this.film_id}}"/>
      <input name="title" type="hidden" value="{{this.title}}"/>
      <input name="description" type="hidden" value="{{this.description}}"/>


      <input name="rental_rate" type="hidden" value="{{this.rental_rate}}"/>

      <input name="category" type="hidden" value="{{this.category}}"/>
      <td bgcolor="grey" width="15%"><button  type="submit"class="btn btn-default">  Add To Cart  </button></td>
    </form>
    <form method="post" action="/removefromwishlist">
       <input name="wish_list_id" type="hidden" value="{{this.wish_list_id}}"/>
      <td bgcolor="grey" width="15%"><button  type="submit"class="btn btn-default">  X  </button></td>
    </form>
  </tr>
</table>
{{/each}}




</div>
